.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #f3689e;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.free {
  background-color: rgba(33, 150, 243, 0.8);
}

.reserved {
  background-color: rgba(255, 196, 75, 0.8);
}

.used {
  background-color: rgba(130, 255, 53, 0.8);
}

.item1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.item2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.item3 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.item4 {
  grid-row-start: 1;
  grid-column-start: 4;
}

.item5 {
  grid-row-start: 1;
  grid-column-start: 5;
}

.item16{
  grid-column: 1 / span 2;
}

.item17{
  grid-column: 3 / span 2;
}
.btn-success{
  margin-right: 10px;
}

/*
arrived
reserved
used

*/
