<div class="container">

  <div class="row">
    <div class="col">
      <h2>Login</h2>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="text-center">
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="error">
    <div class="col-md-10 alert alert-danger">
      <p>Login failed.</p>
    </div>
  </div>

  <div class="row" *ngIf="logout && !form.touched">
    <div class="col-md-10 alert alert-success">
      <p>Logged out successfully.</p>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="!loading">

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="mail">Mail </label>
          <input id="mail" class="form-control" type="text" name="mail" ngModel required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="password">Password </label>
          <input id="password" class="form-control" type="password" name="password" ngModel required>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
  </form>
</div>
